/* Estilos generales */
body {
  font-family: 'Arial', sans-serif; /* Fuente general */
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
  box-sizing: border-box; /* Modelo de caja */
  background-color: #f4f4f4; /* Color de fondo de la página */
  color: #333; /* Color del texto */

}

/* Navegación */
nav {
  background-color: #333; /* Color de fondo de la barra de navegación */
  padding: 1rem; /* Espaciado interno */
}

nav ul {
  list-style-type: none; /* Sin puntos en la lista */
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
  display: flex; /* Disposición en fila */
  justify-content: space-around; /* Espacio uniforme entre elementos */
}

nav ul li {
  display: inline; /* Elementos en línea */
}

nav ul li a {
  color: white; /* Color del texto de los enlaces */
  text-decoration: none; /* Sin subrayado en enlaces */
  font-weight: bold; /* Texto en negrita */
}

nav ul li a:hover {
  color: #ddd; /* Color del texto al pasar el ratón */
}

/* Secciones */
section {
  padding: 2rem; /* Espaciado interno de las secciones */
  max-width: 1000px; /* Ancho máximo */
  margin: 0 auto; /* Centrar secciones */
}

@media (max-width: 768px) {
  section {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  section {
    padding: 1rem;
  }
}


/* Sección "Sobre mí" */
#about {
  background-color: #333; /* Color de fondo de la sección "Sobre mí" */
  color: white; /* Color del texto */
  text-align: center; /* Centrar texto */
  margin-top: 25px; /* Margen superior */
}

#about .about-content {
  display: flex; /* Disposición en flexbox */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  gap: 20px; /* Espacio entre elementos */
}

/**/
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Cambiar de fila a columna */
  }
  .about-content {
    flex-direction: column;
    gap: 10px;
  }
}
/**/

.profile-picture {
  width: 200px; /* Ajusta el tamaño de la imagen */
  height: 200px; /* Altura de la imagen */
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Mantener la proporción de la imagen */
  border: 3px solid #fff; /* Borde blanco alrededor de la imagen */
}

/* Ajustes de texto */
#about h1 {
  font-size: 2.5rem; /* Tamaño de fuente del título */
  margin-bottom: 10px; /* Espacio inferior */
}

#about p {
  font-size: 1.2rem; /* Tamaño de fuente del párrafo */
  line-height: 1.5; /* Espaciado entre líneas */
  margin: 10px 0; /* Margen superior e inferior */
}

/* Botones y email de "Sobre mí" */
.about-actions {
  margin-top: 10px; /* Espacio superior */
  display: flex; /* Disposición en flexbox */
  gap: 15px; /* Espacio entre botones */
  justify-content: center; /* Centrar botones */
}

.buttonmodo{
  background-color: #333; /* Color de fondo de los botones */
  color: white; /* Color del texto de los botones */
  padding: 3px 7px; /* Espaciado interno */
  text-decoration: none; /* Sin subrayado en los botones */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra para profundidad*/ /**/ 
}

.buttonmodo:hover {
  background-color: #555; /* Color de fondo al pasar el ratón */
}

.button {
  background-color: #333; /* Color de fondo de los botones */
  color: white; /* Color del texto de los botones */
  padding: 10px 15px; /* Espaciado interno */
  text-decoration: none; /* Sin subrayado en los botones */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra para profundidad*/ /**/
}

.button:hover {
  background-color: #555; /* Color de fondo al pasar el ratón */
}

.email-button {
  background-color: #333; /* Color de fondo para el botón de email */
}

.email-button:hover {
  background-color: #555; /* Color al pasar el ratón */
}



/* Sección "Proyectos" */
#projects {
  text-align: center; /* Centrar texto */
  padding: 20px; /* Espaciado interno */
}

.projects-container {
  display: flex; /* Disposición en flexbox */
  gap: 20px; /* Espaciado entre proyectos */
  justify-content: center; /* Centrar proyectos */
  flex-wrap: wrap; /* Permitir que se envuelvan en múltiples filas */
}

.project {
  border: 1px solid #ddd; /* Borde de los proyectos */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  width: 200px; /* Ancho de cada proyecto */
  height: 50px; /* Altura de cada proyecto */
  text-align: center; /* Centrar texto */
  overflow: hidden; /* Ocultar desbordamiento */
  transition: all 0.3s ease; /* Transición suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  cursor: pointer; /* Cambiar cursor a pointer */
}

.project h3 {
  margin: 0; /* Sin margen */
  font-size: 1.2em; /* Tamaño de fuente del título */
}

.project p,
.project a {
  display: none; /* Ocultar descripción y enlace inicialmente */
}

/* Efecto de hover en proyectos */
.project:hover {
  width: 300px; /* Ampliar al pasar el ratón */
  height: auto; /* Altura automática */
  padding: 16px; /* Aumentar espaciado interno */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project:hover p,
.project:hover a {
  display: block; /* Mostrar descripción y enlace al pasar el ratón */
}

.project:hover h3 {
  font-size: 1.4em; /* Aumentar tamaño de fuente al pasar el ratón */
}

/* Sección de habilidades */
#skills ul {
  list-style-type: none; /* Sin puntos en la lista */
  display: flex; /* Disposición en fila */
  flex-wrap: wrap; /* Permitir que se envuelvan en múltiples filas */
}

#skills ul li {
  background-color: #333; /* Color de fondo de los ítems de habilidades */
  color: white; /* Color del texto de los ítems */
  margin: 0.5rem; /* Margen entre ítems */
  padding: 0.5rem 1rem; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}

.section {
  text-align: center; /* Centrar texto */
  margin: 40px 0; /* Espaciado superior e inferior */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  width: 90%; /* Ancho del 90% */
  max-width: 900px; /* Máximo ancho */
  margin-left: auto; /* Margen izquierdo automático para centrar */
  margin-right: auto; /* Margen derecho automático para centrar */
}


/* Footer */
footer {
  text-align: center; /* Centrar texto en el footer */
  padding: 1rem; /* Espaciado interno */
  background-color: #333; /* Color de fondo del footer */
  color: white; /* Color del texto en el footer */
  position: relative; /* Posición relativa */
  bottom: 0; /* Al final de la página */
  width: 100%; /* Ancho completo */
}

footer a {
  color: white; /* Color de los enlaces, incluyendo íconos */
  margin: 0 10px; /* Espaciado horizontal entre íconos */
  font-size: 1.5rem; /* Tamaño de los íconos */
  transition: color 0.3s ease; /* Transición suave para el color */
  text-decoration: none; /* Sin subrayado en los enlaces */
}

footer a:hover {
  color: #0077b5; /* Cambia a un gris claro al pasar el ratón */
}
footer a:nth-child(2):hover {
  color: #6b076e; /* Cambia a un color negro/gris para GitHub */
}
footer a:nth-child(3):hover {
  color: #de1b09; /* Cambia a un color negro/gris para GitHub */
}




.copy-button {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  position: relative; /* Para posicionar el tooltip */
  margin-left: 10px; /* Espacio a la izquierda del botón */
}

.copy-button i {
  color: #555756; /* Color del icono */
  font-size: 1rem; /* Tamaño del icono */
}

.tooltip {
  visibility: hidden; /* Oculto por defecto */
  width: 60px; /* Ancho del tooltip */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo del tooltip */
  color: #fff; /* Color del texto */
  text-align: center; /* Centrar texto */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno */
  position: absolute; /* Posicionamiento absoluto */
  bottom: 125%; /* Posicionar arriba del botón */
  left: 50%; /* Centrar horizontalmente */
  margin-left: -30px; /* Ajustar margen para centrar */
  opacity: 0; /* Invisible por defecto */
  transition: opacity 0.3s; /* Transición de opacidad */
}

.copy-button:hover .tooltip {
  visibility: visible; /* Mostrar tooltip al pasar el ratón */
  opacity: 1; /* Hacer visible */
}

/* Sección "Certificaciones" */
#certifications {
  text-align: center; /* Centrar texto */
  padding: 20px; /* Espaciado interno */
}

.certifications-container {
  display: flex; /* Disposición en flexbox */
  gap: 20px; /* Espaciado entre certificaciones */
  justify-content: center; /* Centrar certificaciones */
  flex-wrap: wrap; /* Permitir que se envuelvan en múltiples filas */
}

.certification {
  border: 1px solid #ddd; /* Borde de las certificaciones */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  width: 200px; /* Ancho de cada certificación */
  height: 50px; /* Altura de cada certificación */
  text-align: center; /* Centrar texto */
  overflow: hidden; /* Ocultar desbordamiento */
  transition: all 0.3s ease; /* Transición suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  cursor: pointer; /* Cambiar cursor a pointer */
}

.certification h3 {
  margin: 0; /* Sin margen */
  font-size: 1.2em; /* Tamaño de fuente del título */
}

.certification p,
.certification a {
  display: none; /* Ocultar descripción y enlace inicialmente */
}

/* Efecto de hover en certificaciones */
.certification:hover {
  width: 300px; /* Ampliar al pasar el ratón */
  height: auto; /* Altura automática */
  padding: 16px; /* Aumentar espaciado interno */
}

.certification:hover p,
.certification:hover a {
  display: block; /* Mostrar descripción y enlace al pasar el ratón */
}

.certification:hover h3 {
  font-size: 1.4em; /* Aumentar tamaño de fuente al pasar el ratón */
}

.social-icons {
  text-align: center; /* Centra los íconos */
  margin-top: 10px; /* Espaciado superior */
}

.social-icons a {
  color: #fffcfc; /* Color inicial de los íconos */
  margin: 0 10px; /* Espaciado horizontal entre íconos */
  font-size: 1rem; /* Tamaño de los íconos, ajustado para que ambos sean del mismo tamaño */
  transition: color 0.3s ease; /* Animación suave al cambiar color */
  text-decoration: none; /* Sin subrayado en los enlaces */
}

.social-icons a:hover {
  color: #0077b5; /* Cambia a un color destacado (ejemplo: azul de LinkedIn) */
}

.social-icons a:nth-child(2):hover {
  color: #6b076e; /* Cambia a un color negro/gris para GitHub */
}


/* Sección "Educación" */
#education {
  text-align: center; /* Centrar texto */
  padding: 20px; /* Espaciado interno */
}

.education-container {
  display: flex; /* Disposición en flexbox */
  gap: 20px; /* Espaciado entre ítems de educación */
  justify-content: center; /* Centrar ítems */
  flex-wrap: wrap; /* Permitir que se envuelvan en múltiples filas */
}

/* Estilo para ocultar inicialmente "Ver Título" */
.view-title {
  display: none; /* Ocultar por defecto */
  margin-top: 10px; /* Espaciado respecto al contenido del ítem */
  font-size: 1em; /* Tamaño del texto */
  color: #007bff; /* Color del texto */
  text-decoration: underline; /* Subrayar el texto */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el enlace */
  transition: all 0.3s ease; /* Transición suave */
}

/* Mostrar "Ver Título" al pasar el cursor sobre el ítem */
.education-item:hover .view-title {
  display: inline-block; /* Mostrar el enlace */
}

/*"Ver Título" en hover */
.view-title:hover {
  color: #0056b3; /* Cambiar el color al pasar el cursor */
}


/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode .section {
  background-color: #1e1e1e;
  border-color: #333;
}










