/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Navegación */
  nav {
    background-color: #333;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #ddd;
  }
  
  /* Secciones */
  section {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  #about {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 25px;
  }
  
  #about h1 {
    font-size: 2.5rem;
  }
  
  
  #projects {
    text-align: center;
    padding: 20px;
  }
  
  .projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .project {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .project h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .project p,
  .project a {
    display: none;
  }
  
  /* Efecto de hover */
  .project:hover {
    width: 300px;
    height: auto;
    padding: 16px;
  }
  
  .project:hover p,
  .project:hover a {
    display: block;
  }
  
  .project:hover h3 {
    font-size: 1.4em;
  }
  
  
  
  #skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  #skills ul li {
    background-color: #333;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  